*
!.gitignore
!*/

#java
!*.java

#C
!*.c
!*.h

#web
!*.html
!*.php
!*.js

#C++
!*.cpp
!*.hpp

#Unix Shell
!*.sh

#LaTeX
!*.tex

#DataFormats
!*.xml
!*.png
!*.bmp
!*.jpg
!*.txt
!*.csv

#README
!*.md

#CLion and IntelliJ
.idea
cmake-build-debug

#VSCode
.vscode/

#Eclipse
/bin/
/build/
bin/
build/
.build
run
.settings

out/


