<!DOCTYPE html>
<html>
<head>
<title>Start/Join a Party</title>
</head>
<body>
  <button type="button" class="CreatePartyBttn" onclick="createParty()">Create Party</button>
  <input type="text" placeholder="Enter Spotify Username" id="usernametxt">
  <button type ="button" class="JoinPartyBttn" onclick="joinParty()">Join Party</button>
  <input type="text" placeholder="Enter Party Code" id="partyCodetxt">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script type="text/javascript">
    function createParty() {
      username = document.getElementById("usernametxt").value;
      request = {
        "partyid":"",
        "rtype":"createRoom"
      };
      request["data"] = username;
      sendMessage(JSON.stringify(request));
    }
    function joinParty() {
      code = document.getElementById("partyCodetxt").value;

    }
    function sendMessage(msg) {
        console.log("Sending: " + msg);
        socket.send(msg);
    }

    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
    });
    socket.on('message', function(msg) {
      message = JSON.parse(msg);
      if (message["rtype"] == "auth") {
        window.location = message["data"];
      } else if (message["rtype"] == "roomCode") {
        window.location = "/main.html?id=" + message["data"];
      }
    });
  </script>
</body>
</html>
