<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->
  <script type="text/javascript" src="{{ url_for('static',filename='js/socketio.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
  <script type="text/javascript" src="{{ url_for('static',filename='js/qrcode.js') }}"></script>
  {% block js_file%}
  {% endblock %}
  <title>Spotify Party</title>
</head>

{% block body_start %}
{% endblock %}
  <div class="container-fluid" style="background:#ffffff; color:#191414;">
    <div class="row">
      <div class="col-12 col-md-5 p-0 ">
        <nav class="navbar" style="justify-content:flex-start; background:#191414;">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#parties">
            <span class="material-icons" style="color:#1db954">menu</span>
          </button>
          <span class="navbar-brand" id="spotify-party-logo" style="color:#1db954">Spotify Party</span>
          <div id="party-share-btn">
            <button type="button" class="btn sp_green_btn" style="vertical-align:top" data-toggle="modal" data-target="#invite-popup">
              Invite to Party
            </button>
          </div>
          <div class="collapse navbar-collapse" id="parties">
            <ul class="navbar-nav">
              <li class="nav-item" id="filler">
              </li>
              <!--TODO: implement multiple party functionality-->
              <!--<li class="nav-item" id="1" onclick="setParty($(this))">-->
                <!--<a class="nav-link" href="#">Party 1</a>-->
              <!--</li>-->
              <!--<li class="nav-item" id="2" onclick="setParty($(this))">-->
                <!--<a class="nav-link" href="#">Party 2</a>-->
              <!--</li>-->
              <!--<li class="nav-item" id="3" onclick="setParty($(this))">-->
                <!--<a class="nav-link" href="#">Party 3</a>-->
              <!--</li>-->
            </ul>
          </div>
        </nav>
      </div>
      <div class="p-0 col-12 col-md-7">
        <div style="height:56px; color:#1db954; background:#191414;">
          <div id="right-top-bar">
            <div class="float-right" style="height:56px;">
              {% block playback_icon %}
              {% endblock %}
              <button type="button" class="btn sp_green_btn" style="margin:9px;vertical-align:top" data-toggle="modal" data-target="#add-song-popup">
                Add song
              </button>
            </div>
          </div>

          <div class="modal" id="add-song-popup">
            <div class="modal-dialog">
              <div class="modal-content" style="background:#191414; color:#1db954">

                <div class="modal-header">
                  <h4 class="modal-title custom-modal-title">Add Song</h4>
                  <button type="button" class="close" style="color:#ffffff" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body" style="background:#1db954; color:#191414">

                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-append" onclick="search($(this).prev().val())">
                      <button class="input-group-text material-icons btn-primary">search</button>
                    </div>
                  </div>

                  <ul class="list-group" id="results">

                    <!-- Format of results in add song search
                    <li class="list-group-item" id="123">Song
                      <button type="button" class="btn float-right sp_green_btn" onclick="addSong($(this).parent().attr('id'))">
                        Add
                      </button>
                    </li>-->
                  </ul>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

              </div>
            </div>
          </div>

          <div class="modal" id="invite-popup">
            <div class="modal-dialog">
              <div class="modal-content" style="background:#191414; color:#1db954">

                <div class="modal-header">
                  <h4 class="modal-title">Invite to Party </h4>
                  <button type="button" class="close" style="color:#ffffff" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body" style="background:#1db954; color:#191414">
                    <div class="list-group-item" style="display: flex; background-color: #191414;">
                      <div id="party-id" class="input-style-div"> </div>
                      <button class="btn sp_green_btn invite_mod_btn float-right" style="margin-left: 10px" onclick="copyID()"> Copy ID </button>
                    </div>
                    <div class="list-group-item" style="display: flex; background-color: #191414">
                      <div id="join-url" class="input-style-div"></div>
                      <button class="btn sp_green_btn invite_mod_btn float-right" style="margin-left: 10px" onclick="copyUrl()"> Copy Link </button>
                    </div>
                    <div class="list-group-item" style="background-color: #191414;" >
                      <div id="join-qr-code" style="display: flex; justify-content: center; text-align: center; border-width: 10px ">

                      </div>
                    </div>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

              </div>
            </div>
          </div>
        </div>

        <ul class="list-group" id="tracks">
          <!-- Format of song item to be played
          <li class="list-group-item" id="41242421">First item
            <i class="material-icons float-right">
              <span class="thup" onclick="upvote($(this))">
                thumb_up
              </span>
              <span class="thdn" onclick="downvote($(this))">
                thumb_down
              </span>
            </i>
          </li>
          -->
        </ul>
    </div>
  </div>
  </div>
</body>

</html>
